.card {
  color: var(--very-dark-blue-text);
  background-color: var(--white);
  box-shadow: 0 0 4px #d1d0d054;
  border-radius: 0.4rem;
  width: 320px;
  height: 400px;
}
.dark .card {
  color: var(--white);
  box-shadow: 0 0 7px hsl(207deg 26% 17% / 35%);
  background-color: var(--dark-blue);
}
.card .image img {
  width: 100%;
  /* aspect-ratio: 4/3; */
  border-top-right-radius: 0.4em;
  border-top-left-radius: 0.4em;
}
.card section {
  padding: 1em 2em 3em;
}
.card .title {
  font-weight: 600;
  margin-right: 0.3rem;
}
